/* BOX GRID by Roko C. Buljan 
   Demo: http://jsbin.com/lilusa/3/edit?html,css,output */
*{
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  height: 100%;
  font: 14px/1.4 Arial, sans-serif;
}
body.dev * {
  outline: 1px solid rgba(255,0,0,0.3);
  outline-offset: -1px;
}
img{
  max-width: 100%;
}
.container{
  max-width: 1152px;
  margin: 0 auto;
}
[class^="box-row"],[class*=" box-row"],
[class^="box-col"],[class*=" box-col"]{
  position: relative;
  display: flex;
  flex-flow: row wrap;
}
[class^="box-col"],[class*=" box-col"]{
  flex-flow: column wrap;
}
[class$="-fit"],[class*="-fit "]{
  flex: 1;
  width: 100%;
  height: 100%;
}
[class^="box-"],[class*=" box-"]{
  position: relative;
}
.box    { flex: 1; }
.box-1  { width: 8.333%; }
.box-2  { width: 16.666%; }
.box-3  { width: 25%; }
.box-4  { width: 33.333%; }
.box-5  { width: 41.666%; }
.box-6  { width: 50%; }
.box-7  { width: 58.333%; }
.box-8  { width: 66.666%; }
.box-9  { width: 75%; }
.box-10 { width: 83.333%; }
.box-11 { width: 91.666%; }
.box-12 { width: 100%; }

/* EXTRAS: */

/* CLEAR */
.clear:before,
.clear:after{ content: " "; display: table; }
.clear:after{ clear: both;}

/* SCROLL */
.scroll-h { overflow: hidden; }
.scroll-a { overflow: auto; }
.scroll-ah { overflow-x: auto; overflow-y: hidden; }
.scroll-ha { overflow-x: hidden; overflow-y: auto; }

/* PADDINGS */
.padd-h { padding: 24px 16px 8px; }
.padd      { padding: 16px; }
.padd-f { padding: 8px 16px 24px; }
