*{
  box-sizing:border-box;
  margin:0;
}

html,
body {
  margin:0;
  height:100%;
  font:14px/1.4 Arial, sans-serif;
}
body.dev * {
  outline: 1px solid rgba(255,0,0,0.3);
  outline-offset: -1px;
}

img{
  max-width: 100%;
}

.row,
.col{
  position: relative;
  display: flex;
}
.row{ flex-flow: row wrap; } 
.col{ flex-flow: column wrap; }

/* or use nowrap to prevent overflow and wrap next element to new line */
.grow{
  flex: 1 0 auto;
  width: 100%;
  height: 100%;
}

.cell-1,
.cell-2,
.cell-3,
.cell-4,
.cell-5,
.cell-6,
.cell-7,
.cell-8,
.cell-9,
.cell-10,
.cell-11,
.cell-12{
  position: relative;
}
.cell    { flex:1 0 auto; }
.cell-1  { width:8.333%; }
.cell-2  { width:16.666%; }
.cell-3  { width:25%; }
.cell-4  { width:33.333%; }
.cell-5  { width:41.666%; }
.cell-6  { width:50%; }
.cell-7  { width:58.333%; }
.cell-8  { width:66.666%; }
.cell-9  { width:75%; }
.cell-10 { width:83.333%; }
.cell-11 { width:91.666%; }
.cell-12 { width:100%; }

.inner-center{
  justify-content: center;
  align-items: center;
}

/* CLEAR */
.clear:before,
.clear:after{
  content: " ";
  display:table;
}
.clear:after{
  clear: both;
}

/* SCROLL */
.noscroll { overflow:hidden; }
.scroll-auto { overflow: auto; }
.scroll-x {overflow-x: auto; overflow-y: hidden; }
.scroll-y {overflow-x: hidden; overflow-y: auto; }

/* PADDINGS */
.padd-head { padding: 24px 16px 8px; }
.padd      { padding: 16px; }
.padd-foot { padding: 8px 16px 24px; }


